---
import Layout from "../../layouts/Layout.astro";
import SectionTitle from "../../components/SectionTitle.astro";
import GlobalExperience from "../../components/GlobalExperience.astro";
import Metrics from "../../components/Metrics.astro";
import Map from "../../components/Map.astro";
import Internationalization from "../../components/Internationalization.astro";
import DoubleDegree from "../../components/DoubleDegree.astro";
import Memberships from "../../components/Memberships.astro";
import Acordeon from "../../components/Acordeon.astro";
import pontificiaChile from "../../assets/pontificia-chile.png";
import saopauloBrasil from "../../assets/saopaulo-brasil.png";
import estadualBrasil from "../../assets/estadual-brasil.png";
import tecMonterrey from "../../assets/tec-mexico.png";
import Cie from "../../components/Cie.astro";
---

<Layout>
    <SectionTitle title="Ruta Internacional" />
    <GlobalExperience />
    <hr class="border-gris max-w-7xl mx-auto" />
    <Metrics
        items={[
            {
                value: "+100k",
                description: "Estudiantes confían en nuestra calidad académica internacional",
            },
            {
                value: "+39k",
                description: "Estudiantes en clases en simultáneo con universidades del extranjero",
            },
            {
                value: "+15k",
                description: "Estudiantes vivieron experiencias multiculturales",
            },
            {
                value: "+400",
                description: "Docentes con experiencias académicas internacionales",
            },
        ]}
    />
    <Map />
    <Internationalization />
    <DoubleDegree />
    <Memberships />
	<Acordeon
		width="full"
		title="<span class='font-light'>Convenios con</span> \nUniversidades Reconocidas \nen el QS World University \nRankings"
		paragraph="Te acercamos a las mejores universidades de Latinoamérica, según el Ranking QS, para que realices pasantías internacionales, clases en simultáneo con estudiantes y docentes extranjeros, y más."
		paragraphAlign="center"
		items={[
			{
				image: pontificiaChile,
				title: "🇨🇱 Chile",
				paragraph: "Pontificia Universidad Católica de Chile",
			},
			{
				image: saopauloBrasil,
				title: "🇧🇷 Brasil",
				paragraph: "Universida de São Paulo",
			},
			{
				image: estadualBrasil,
				title: "🇧🇷 Brasil",
				paragraph: "Universidad Estadual de Campinas",
			},
			{
				image: tecMonterrey,
				title: "🇲🇽 México",
				paragraph: "TEC de Monterrey",
			},
		]}
	/>
</Layout>
