---
import { Image } from "astro:assets";
import usIcon from "../assets/icons/us.svg";
import mxIcon from "../assets/icons/mx.svg";
---
<section class="bg-morado-oscuro">
    <div class="max-w-7xl mx-auto px-4 md:px-5 py-16 md:py-24">
        <div class="max-w-5xl mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-2 border-l-2 border-white border-r-2 text-white px-5 items-center justify-center pb-2">
                <h3 class="text-2xl md:text-3xl font-bold md:col-span-1">Accede a un doble título Internacional</h3>
                <p class="md:text-lg md:col-span-2">
                    Estudia en la Universidad Continental y luego elige una carrera en Continental Florida University
                    <Image src={usIcon} alt="Estados Unidos" class="inline-block h-6 w-6 align-middle mx-1" />
                    o en Continental University of Mexico
                    <Image src={mxIcon} alt="México" class="inline-block h-6 w-6 align-middle mx-1" />
                </p>
            </div>
        </div>
    </div>
</section>
