---
import { Icon } from "astro-icon/components";
---
<section class="bg-white">
    <div class="max-w-7xl mx-auto px-4 md:px-5 py-16 md:py-24 flex flex-col justify-center items-center">
        <Icon name="teacercamoselmundo-black" class="max-w-4xl w-full h-auto md:mb-16 mb-8" />
        <p class="text-center text-base md:text-2xl leading-relaxed max-w-4xl">En la <strong>Universidad Continental</strong> acercamos el mundo a cada campus, a cada ciudad, a cada estudiante con convenios globales, doble título internacional y  clases en simultáneo con estudiantes y docentes extranjeros. Además, <strong>somos parte de Continental International Education (CIE)</strong>, una propuesta educativa internacional con presencia en Estados Unidos, México, España y Perú
        </p>
    </div>
</section>