---
import { Image } from "astro:assets";
import cfu from "../assets/CFU.png";
import cumx from "../assets/CUMx.png";
import ciu from "../assets/CIU.png";
---

<section>
    <div class="max-w-7xl mx-auto px-4 md:px-5 py-16 md:py-24">
        <h2 class="font-wideBold text-2xl md:text-5xl mb-6 md:mb-15 md:whitespace-pre-line text-center uppercase leading-tight md:leading-18">Propuesta académica
            internacional</h2>
        <p class="text-center text-base md:text-lg leading-relaxed md:whitespace-pre-line">En la Universidad Continental te ofrecemos propuestas académicas en
Estados Unidos, México y España.
        </p>
        <div class="mt-10 grid grid-cols-1 md:grid-cols-3 gap-6">
            <div class="relative w-full sm:w-90 h-90 mx-auto">
                <input type="checkbox" aria-label="Voltear tarjeta CFU" class="peer absolute inset-0 z-20 h-full w-full cursor-pointer opacity-0" />
                <div class="relative w-full h-full transition-transform duration-500 transform-3d peer-checked:transform-[rotateY(180deg)]">
                    <div class="absolute inset-0 backface-hidden">
                        <Image src={cfu} alt="CFU" width={360} height={360} class="w-full h-full object-cover" />
                    </div>
                    <div class="absolute inset-0 bg-black text-white flex flex-col justify-center items-center px-8 text-left backface-hidden transform-[rotateY(180deg)]">
                        <h3 class="font-wideBold mb-3 whitespace-pre-line md:text-xl">Continental Florida University (CFU)</h3>
                        <p class="">Es una universidad acreditada en Estados Unidos por la Florida Commission for Independent Education y reconocida con la máxima calificación en Aprendizaje en Línea por QS Stars.
                            Ofrece programas virtuales de pregrado y posgrado con estándares de calidad estadounidense, orientados al desarrollo profesional en un entorno global.</p>
                    </div>
                </div>
            </div>

            <div class="relative w-full sm:w-90 h-90 mx-auto">
                <input type="checkbox" aria-label="Voltear tarjeta CUMx" class="peer absolute inset-0 z-20 h-full w-full cursor-pointer opacity-0" />
                <div class="relative w-full h-full transition-transform duration-500 transform-3d peer-checked:transform-[rotateY(180deg)]">
                    <div class="absolute inset-0 backface-hidden">
                        <Image src={cumx} alt="CUMx" width={360} height={360} class="w-full h-full object-cover" />
                    </div>
                    <div class="absolute inset-0 bg-black text-white flex flex-col justify-center items-center px-8 text-left backface-hidden transform-[rotateY(180deg)]">
                        <h3 class="font-wideBold mb-3">Continental University of Mexico (CUMx)</h3>
                        <p class="">Cuenta con la máxima calificación de QS Stars en Aprendizaje en línea, Empleabilidad e Inclusión. Ofrece programas en Negocios, Ingeniería, Marketing, Gestión de la Salud y Educación, orientados a desarrollar experiencias de aprendizaje significativos y estimulantes con la finalidad de mejorar el potencial y las oportunidades de estudiantes y sus comunidades. </p>
                    </div>
                </div>
            </div>

            <div class="relative w-full sm:w-90 h-90 mx-auto">
                <input type="checkbox" aria-label="Voltear tarjeta CIU" class="peer absolute inset-0 z-20 h-full w-full cursor-pointer opacity-0" />
                <div class="relative w-full h-full transition-transform duration-500 transform-3d peer-checked:transform-[rotateY(180deg)]">
                    <div class="absolute inset-0 backface-hidden">
                        <Image src={ciu} alt="CIU" width={360} height={360} class="w-full h-full object-cover" />
                    </div>
                    <div class="absolute inset-0 bg-black text-white flex flex-col justify-center items-center px-8 text-left backface-hidden transform-[rotateY(180deg)]">
                        <h3 class="font-wideBold mb-3">Continental International Universities (CIU)</h3>
                        <p class="">Es una institución educativa española respaldada por la Universidad Politécnica de Madrid y la Fundación Universidad Empresa. Ofrece másteres profesionales con un enfoque práctico, flexible e internacional, alineados a estándares europeos y a las exigencias reales del mercado y del futuro del trabajo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
