---
import { Image } from "astro:assets";
import convenios from "../assets/mapa-convenios.webp";
---
<section>
    <div class="max-w-7xl mx-auto px-4 md:px-5 py-16 md:pt-24 pb-12">
        <h2 class="font-wideBold text-2xl md:text-5xl mb-6 md:mb-15 md:whitespace-pre-line text-center uppercase leading-tight md:leading-18">Convenios y membresías
            internacionales</h2>
        <p class="text-center text-base md:text-lg leading-relaxed md:whitespace-pre-line">Combina tu formación y enriquece tu preparación académica con alianzas estratégicas y
            membresías en organizaciones líderes del sector empresarial.</p>
        <Image src={convenios} alt="Convenios y membresías internacionales" width={1515} height={1080} class="w-full h-auto" />
    </div>
</section>
