---
import "../styles/tailwind.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Icon } from "astro-icon/components";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Te Acercamos el Mundo</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Te Acercamos el Mundo" />
    <meta property="og:image" content="/miniatura.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Te Acercamos el Mundo" />
    <meta name="twitter:image" content="/miniatura.jpg" />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <a
      href="https://wa.me/51971115546"
      target="_blank"
      rel="noopener noreferrer"
      class="fixed bottom-4 right-4 z-50 md:w-[168px] h-auto w-20 drop-shadow-lg"
      aria-label="WhatsApp"
    >
      <Icon name="wsp" class="h-full w-full" aria-hidden="true" />
    </a>
  </body>
</html>
